.publicprofile{
  box-sizing: border-box;
  width: 100%;
  padding: 0 10%;
}
.basicInfo{
  padding: 3% 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.textInfo{
  width: 70%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px){
  .basicInfo{
    padding: 1% 10%;


  }
  .textInfo{
    font-size: .6rem;
  }
}
