.btn_uno{
    background:linear-gradient(to right, #b623a0 0%, #d42677 100%);
    width:125px;
    border:transparent;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    height:33px;
}