.iconpasos{
	width: 120px;
	height: 120px;
}
.contenedor{
	display: inline-flex;
	justify-content: space-between;
		flex-wrap: wrap;

}
.content{
	flex-grow: 1;
	width: 180px;
	height: 250px;
	margin-bottom: 30px;
	margin-left: 30px;



}
.circle_process{
	width: 120px;
	height: 120px;
	border:2px dotted #00BCD4;
	border-radius: 60px;
	margin: 0 auto;
	display: block;

}
.icon_p{
	margin: 20% auto;
}
.paso{
	display: block;
	margin-top:20px;
}
.space{
	width: 90%;
	
margin-left:5%;}

.box_process{
	height: 270px;	
	overflow: hidden;
	margin-bottom: 50px;
	position: relative;
}
	.img_process{
	width: 100%;
	margin-top: -300px;
}
.btn_tuto{
	position: absolute;
	top:35%;
	width: 15%;
	left:42.5%;

}
@media(max-width: 780px){

}
@media(max-width: 780px){
	.img_process{
		margin-top: -100px;
	}
	.box_process{
		height: 200px;
	}
	.btn_tuto{
		width: 40%;
		left:30%;
	}
}