.black{
	font-size: 35px;
	font-weight: 500px;
	color:black;
	padding: 3px;
	text-align: center;
	
}
.uno{
	background-color: white;
}
.coments{
	margin: 100px 0px;
}
.background{
	background-image: url('../../assets/fondo5-01.png');

	height: auto;
	padding:30px 0px 20px 0px;
}