.detras{
	background-color: white;
	padding-bottom: 70px;
}
.info{
	display: flex;
	flex-grow: 1;
}
.inf{
	padding: 10px 30px 10px 70px;
	width: 60%;
	font-size: 20px;
}
.logo{
	width: 40%;
}

@media(max-width: 900px){
	.info{
		display: block;
	}
	.inf{
		width: 100%;
		padding: 0px;
	}
	.inf p{
		padding: 0 15px;
	}
	
	.logo img{
		width: 320px;
		margin:0 auto;
	}
}
@media(max-width: 450px){
	.logo img{
		margin-left: 25%;
	}
}