.detras{
	background-color: white;

}
.pad{
	width: 80%;
	margin: 0 auto;
}

.info{
	display: flex;

}
.inf{
	padding: 10px 30px 10px 70px;
	width: 70%;
	font-size: 20px;
}
.log{
	width: 90%;
}
.logo{

	padding: 0 auto;
}
.linea_azul{
	background: linear-gradient(to right, #005fa8 0%, #89ecb4 99%, #89ecb4 100%);
	width: 200px;
	margin: 0 auto;
	/*position: relative;*/
	height: 5px;
	/*float: left;*/
	margin-bottom: 20px;

}
.linea_orange{

	background: linear-gradient(to right, #ff505d 0%, #ffb715 100%);
	width: 200px;
	margin: 0 auto;
	/*position: relative;*/
	height: 5px;
	/*float: left;*/


}
.linea_rosa{
	background: linear-gradient(to right, #00eded 0%, #36a6fc 100%);
	width: 200px;
	margin: 0 auto;
	/*position: relative;*/
	height: 5px;
	/*float: left;*/
	margin-bottom: 20px;

}
.pad p{
	font-size: 18px;
}


@media(max-width: 900px){
	.info{
		display: block;
	}
	.inf{
		width: 100%;
		padding: 0px;
	}
	.inf p{
		padding: 0 15px;
	}

	.logo img{
		width: 320px;
		margin:0 auto;
	}
}
