body{
    background-color: #F5F5F5;
}
.el-paper {
    width: 80%;
    margin: 0 auto;

    text-align: center;
    padding: 40px 0 40px 0;
}

@media screen and (max-width:600px){
    .el-paper{
        width: 100%;

    }
}