.detras{
	background-color: white;
	padding-bottom: 50px;
}
.atras{
	background-color: #F5F5F5;
}

.tittle{
	font-size: 35px;
	font-weight: lighter;
	color:#00BCD4;
	padding-top: 50px;
	text-align: center;
}