@import url('https://fonts.googleapis.com/css?family=Dosis|Maven+Pro');

.footer{
	background-color: #656565;
	width: 100%;
	height: auto;
}
.footer_info{
	display: flex;
	flex-wrap: wrap;

}
.definition{
	font-family: 'Maven Pro', sans-serif;

	color:white;
	width: 300px;
	flex-grow: 1;
	padding: 3%;
}
.redes{
	margin: 5px 40px;

}
.inf_flex{
	display: flex;
}
.inf_z{
	margin: 14px;
}
hr{
	color:white;
	border:1px solid;
	width: 80%;
	margin-left: 10%
}