@import url('https://fonts.googleapis.com/css?family=Dosis|Maven+Pro');

.footer{
	background:#7B868C;
	width: 100%;
	height: auto;
	margin-bottom: -30px;
}
.footer_info{
	display: flex;
	flex-wrap: wrap;

}
.definition{
	 color:white;
	 width: 300px;
	 flex-grow: 1;
	 padding: 1% 3%;
 }
.definition img{
	margin: 0 0 0 70px;
}
.politicas{
	color:white;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

}
hr{
	color:white;
	border:.5px solid;
	width: 100%;
	opacity: .5;
	margin: 0;
}