.la-card {
    margin: 0 auto;
    height: 100%;
    text-align: left;
    padding: 20px;
    /*margin-left:50px;*/
    max-width: 700px;
}

.el-flex{
    display: flex;
    flex-direction: row;
}

.la-reward{
    margin: 0 auto;
    height: 100%;
    text-align: left;
    padding: 20px;
    max-width: 800px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .el-flex{
        display: block;
    }
}