html, body{
	height: 100%;
}
a{
	padding:0px;
	margin: 0px;
	padding-bottom: 3px;
}
.padre{
		filter: grayscale(100%);
		
}

.away{
	display: block;
	height: auto;
	padding-bottom: 0px;
		background-color: white;

}

ul li:nth-child(1){}
ul li:nth-child(2){flex-grow: 3;}
ul li:nth-child(3){flex-grow: 3;}
ul li:nth-child(4){}
ul li:nth-child(5){flex-grow: 5;}
ul li:nth-child(6){width: 500px;}
ul li:nth-child(7){flex-grow: 5;}
ul li:nth-child(8){}


ul#flex-container{
	list-style-type: none;
	margin:0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	

}

ul li {
	flex-grow: 1;
	width: 250px;
	height: 210px;
	padding-top: 45px;
	color:#fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin:0px;
	padding:0px;
	position: relative;
	transition: all .5s ease;
	overflow: hidden;
}

ul li img{
	width: 120%;
	height: auto;
overflow: hidden;

}

ul li a span{
	position: absolute;
	color:#fff;
	bottom: 7px;
	left:15px;
	font-size: 16px;
	z-index: 3;
	font-family:'Raleway' ;

}
ul li:after{
	content:' ';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: inline-block;
	cursor: pointer;
background: rgba(76,76,76,0.03);
background: -moz-linear-gradient(top, rgba(76,76,76,0.03) 0%, rgba(0,0,0,0.03) 0%, rgba(71,71,71,0.03) 0%, rgba(102,102,102,0.03) 0%, rgba(89,89,89,0.03) 0%, rgba(44,44,44,0.04) 2%, rgba(17,17,17,0.3) 60%, rgba(43,43,43,0.37) 76%, rgba(28,28,28,0.44) 91%, rgba(19,19,19,0.48) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,0.03)), color-stop(0%, rgba(0,0,0,0.03)), color-stop(0%, rgba(71,71,71,0.03)), color-stop(0%, rgba(102,102,102,0.03)), color-stop(0%, rgba(89,89,89,0.03)), color-stop(2%, rgba(44,44,44,0.04)), color-stop(60%, rgba(17,17,17,0.3)), color-stop(76%, rgba(43,43,43,0.37)), color-stop(91%, rgba(28,28,28,0.44)), color-stop(100%, rgba(19,19,19,0.48)));
background: -webkit-linear-gradient(top, rgba(76,76,76,0.03) 0%, rgba(0,0,0,0.03) 0%, rgba(71,71,71,0.03) 0%, rgba(102,102,102,0.03) 0%, rgba(89,89,89,0.03) 0%, rgba(44,44,44,0.04) 2%, rgba(17,17,17,0.3) 60%, rgba(43,43,43,0.37) 76%, rgba(28,28,28,0.44) 91%, rgba(19,19,19,0.48) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,0.03) 0%, rgba(0,0,0,0.03) 0%, rgba(71,71,71,0.03) 0%, rgba(102,102,102,0.03) 0%, rgba(89,89,89,0.03) 0%, rgba(44,44,44,0.04) 2%, rgba(17,17,17,0.3) 60%, rgba(43,43,43,0.37) 76%, rgba(28,28,28,0.44) 91%, rgba(19,19,19,0.48) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,0.03) 0%, rgba(0,0,0,0.03) 0%, rgba(71,71,71,0.03) 0%, rgba(102,102,102,0.03) 0%, rgba(89,89,89,0.03) 0%, rgba(44,44,44,0.04) 2%, rgba(17,17,17,0.3) 60%, rgba(43,43,43,0.37) 76%, rgba(28,28,28,0.44) 91%, rgba(19,19,19,0.48) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,0.03) 0%, rgba(0,0,0,0.03) 0%, rgba(71,71,71,0.03) 0%, rgba(102,102,102,0.03) 0%, rgba(89,89,89,0.03) 0%, rgba(44,44,44,0.04) 2%, rgba(17,17,17,0.3) 60%, rgba(43,43,43,0.37) 76%, rgba(28,28,28,0.44) 91%, rgba(19,19,19,0.48) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.magnify{
	position: absolute;
	z-index: 5;
	opacity: 0;
	margin:0 auto;
	left: -10%;
	right: 0;
	top:50%;
	transform: translateY(-50%);
}
.box_etiqueta{
	padding:2px 4px;
}
ul li:hover .magnify {
	opacity: 100 !important;
}
ul li:hover .padre{
  	cursor:pointer;
  	filter: grayscale(0%); 
  	transform: scale(1.5); 
}
ul li:hover .box_etiqueta{
	background-color: #C50090;
	padding: 2px 4px;
	border-radius: 3px;
}
ul li .padre{
	transition: all .5s ease;
}
.verde{
	transform: scale(1.3); 
}
@media(max-width:540px ){
	ul li:nth-child(1){}
	ul li:nth-child(2){flex-grow: 1;}
	ul li:nth-child(3){flex-grow: 1;}
	ul li:nth-child(4){}
	ul li:nth-child(5){flex-grow: 1;}
	ul li:nth-child(6){flex-grow: 1; width: 250px;}
	ul li:nth-child(7){flex-grow: 1;}
	ul li:nth-child(8){}

}
@media(min-width: 1440px){
	ul li{
		width: 350px;
		height: 250px;
	}
}
