.nav{
    width:100%;
    height: 50px;
    padding: 1% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(123,134,140,.2);

}
.nav div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.nav img{
    height:45px;
    width:auto;
}
.nav p{
    margin: 0 30px;
    margin-bottom: 0;
}
.nav button{
    margin-left: 30px;
    margin-right: 50px;
    background-color: #3E84FF;
    height:40px;
    color:white;
    border: none;
    font-size: 14px;
    font-weight: 400;
}